.startup {
    width: 100%;
}

.startup-card-img {
    width: 470px;
    height: 370px;

}
.startup-card-label {
    /* font-family: 'Inter'; сделаем чуть позже */
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 29px;
    /* identical to box height */


    color: #000000;

}

.startup-card-author {
    margin-top: -1%;
    /* font-family: 'Inter'; сделаем чуть позже */
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 24px;

    /* #3787FF */

    color: #3787FF;

}